form{
    
    padding:100;
   text-align: center;
}
div#container{
    display: inline-grid;
}
#H1Header{
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    font-family: David;
  
    
}

.H3Actual{
    float:right;
    margin-left: 10px;
    margin-bottom: 50px;
}
.ImgActual{
    float:right;
    margin-left: 10px;
    
   
}
#BTNActualTask{
    width: 80%;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(255,196,12,0.7);
    height: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 20px;
}
#MDBBtnActualTask_save{
    font-size: 20px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;;
    
    
}
.inputActualTask{
   float: left;
   width: 150px;
   height: 25px;
   font-size: 15px;
}
.form-group row{
    background-color: rgba(255,196,12,0.7);
}
/* 
#BTNActualTask:hover {
    
    color:black;
    border: solid 2px black;
  }
  
  #MDBBtnActualTask_save:hover {
    
    color:black;
    border: solid 2px black;
  } */
  #LocationInput{
text-align: right;
font-size: 15px;
  }
  #IDMDBBTNn{
    font-size: 15px;
    
 }
 button.btn-warning.btn.Ripple-parent {
    font-size: 15px;
}
table.table.table-bordered.table-hover.table-striped.dataTable {
    
    font-family: sans-serif;
}
#deleteFromEvent{
    font-size: 15px;
}