form{
    
    padding:100;
   text-align: center;
   
}
div#container{
    padding: 10px;
    display: inline-grid;
    border: solid 2px rgba(255,196,12,0.7);
}
#H1Header{
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    font-family: David;
   ;
    
}

.H3ActualType{
    float:right;
    margin-left: 10px;
    margin-bottom: 50px;
    font-weight: bold;
}
.ImgActualType{
    float:right;
    margin-left: 10px;
    
   
}
#BTNActualTask{
    width: 80%;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(255,196,12,0.7);
    height: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    margin-top: 20px;
}
#MDBBtnActualTask_save{
    font-size: 20px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;;
    
    
}
.inputActualTask{
   float: left;
   width: 150px;
   height: 25px;
}
.form-group row{
    background-color: rgba(255,196,12,0.7);
}

/* #BTNActualTask:hover {
    
    color:black;
    border: solid 2px black;
  } */
  
  #MDBBtnActualTask_save:hover {
    
    color:black;
    border: solid 2px black;
  }
  table.table.table-bordered.table-hover.table-striped.dataTable {
    
    font-family: sans-serif;
}
#deleteFromTask{
    font-size: 15px;
    border-radius: 80px;
}