.btnData{
    font-size: 50px;
    
}
.dataTable th{
    text-align: center;
    width: 40px;
    font-size: 15px;
}

.dataTable td{
    text-align: center;
    width: 50px;
    font-size: medium;
}
.actionsDiv tr{
    width:80px;
    
}
#IDMDBBTN{
   font-size: 15px;
   background-color: rgba(255,196,12,0.7);
   
}
#MDBBTH_DELET_EDIT{
    font-size: 15px; 
    
    
}
#IDMDBBTNRRight{
    float: right;
    font-size: 15px; 
    background-color: rgba(255,196,12,0.7);
}
#foterBTN {
    margin: auto;
}
/* #BTN3_table{
border-radius: 100px;
} */
#colAction{
    
    display: flex;
    

}
th.sorting_desc{
    width: 10%;
}
#BeforeHeaderMainHr{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}