.App {
  text-align: center;
}
body{
  background-color: #777689;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonHome{
 
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 220px;
  height: 230px;
  width: 230px;
  font-size: calc(19px + 2vmin);
 align-items:center;
 justify-content: center;
 margin-top: 100px;
 cursor: hand;
 cursor: pointer;
 border:3px solid rgba(255,196,12,0.7);
 color: black;
 transform-origin: 65% 75%;
 transition: transform 0.5s, filter 0.5s ease-out;
 
}

.buttonHome:hover{
  transform: scale(1.25);

}



body {
  padding: 30px;
 
}

.form-signin {
	max-width: 330px;
	padding: 15px;
  margin: 0 auto;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[type="email"] .form-signin input[type="password"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
}
#btnSignIN{

/* background-color:rgb(61, 63, 182) ; */
background-color: rgba(255,196,12,0.7);
color: white;
width: inherit;
padding-right: 71px;
padding-left: 71px;
}
#customCheck1{
 margin-left: 10px;
}

 .custom-control.custom-checkbox{padding-left: 0;}

 label.custom-control-label {
   position: relative;
   padding-right: 1.5rem;
 }

 .custom-control.custom-checkbox :hover{
  cursor: hand;
  cursor: pointer;
 }
 
 label.custom-control-label::before, label.custom-control-label::after{
   right: 0;
   left: auto;
 }
label{
  text-align:right;
  margin-top: 20px;
  font-size: 12px;
}
#inputUser{
  text-align:right;
}

#LoginForm{
  width: 250px;
  text-align: center;
  display: block;
  margin: 0 auto ;
}
#leftBTN{
align-items: center;
}
.btnResDiv{
  text-align: center;
  margin: 0 auto ;
  position:relative;
  align-items: center;
}

.homeDiv{
  text-align: center;
  margin: 0 auto ;
  position:relative;
  align-items: center;
}
.form-control{
  text-align: right;
}
.H4class{
  float: right;
  margin-top: 10px;
}
#H4Pass{
  text-align: right;
  margin-top: 15px;
}
#LoginForm > button{
  width: 100%;
}
#BTNLogin{
  border-radius: 90px;
     width: 100%;
     font-size: 20px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     color: black;
     background-color: rgba(255,196,12,0.7);
     height: 50px;
     margin-bottom: 30px;
     font-weight: 500;
     margin-top: 20px;
 }
 #BTNLogin:hover{
     border:3px solid black;
     color:black;
     border-radius: 90px;
     width: 100%;
     font-size: 20px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     background-color: rgba(255,196,12,0.7);
     height: 50px;
     margin-bottom: 30px;
     font-weight: 500;
     margin-top: 20px;
 }
 #copyright{
    bottom: 0px;
   font-size: 14px;
   text-align: center;
   text-decoration-line: underline;
   font-weight:300;
 }





