.btnTasks {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  cursor: hand;
  cursor: pointer;
  /* background-color: #89767F; */
  float: right;
  color: black;
  background-clip: border-box;
  border: 1px solid transparent;
   border-radius: 100px; 
  border: 3px solid rgba(255,196,12,0.7);
  font-size: calc(4px + 2vmin);
  margin-top: 100px;

  display: flex;
  column-count: 6;
  transform-origin: 65% 75%;
  transition: transform 0.5s, filter 0.5s ease-out;

}
.btnTasks:hover{
  transform: scale(1.15);
}



.btnEvents {
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  cursor: hand;
  cursor: pointer;
  /* background-color: #768980; */
  float: right;
  color: black;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 100px;
  border: 3px solid rgba(255,196,12,0.7);
  font-size: calc(4px + 2vmin);
  margin-top: 100px;
  display: flex;
  column-count: 6;
  margin: 20px;
  transform-origin: 65% 75%;
  transition: transform 0.5s, filter 0.5s ease-out;
}

.btnEvents:hover{
  transform: scale(1.15);
}



.inManActDiv {
  text-align: -webkit-center;
}

#btnsManAct {
  text-align: -webkit-center;
}
#btnTestaTsk {
  border-radius: 10px;

  /* background-color: #89767F; */

  color: black;
  background-clip: border-box;
  border: 1px solid transparent;

  border: 3px solid rgba(255,196,12,0.7);
  font-size: calc(4px + 2vmin);

  /* margin-right: 22px; */
  font-size: 30px;

   border-radius: 500px; 
  height: 200px;
  width: 200px;
  margin-top: 50px;
  cursor: hand;
  cursor: pointer;

  font-weight: 700;
  transform-origin: 65% 75%;
  transition: transform 0.5s, filter 0.5s ease-out;

  /* margin: 20px; */
}
#btnTestaTsk:hover{
  transform: scale(1.15);
}
/* #btnTestaTsk:hover {
  border-color: black;
  color: white;
} */

/* #btnTestEvent:hover {
  border-color: black;
  color: white;
} */
#btnTestEvent {
  /* background-color: #768980; */
  border-radius: 10px;
  color: black;
  background-clip: border-box;
  border: 1px solid transparent;

  border: 3px solid rgba(255,196,12,0.7);
  font-size: calc(4px + 2vmin);

  /* margin-right: 22px; */
  font-size: 30px;

  border-radius: 500px; 
  height: 200px;
  width: 200px;

  cursor: hand;
  cursor: pointer;

  font-weight: 700;

   margin: 20px; 
   transform-origin: 65% 75%;
transition: transform 0.5s, filter 0.5s ease-out;
}

#btnTestEvent:hover{
 transform: scale(1.15);

}
.TasksEventsDiv {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#SearchManageAct {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  font-size: 15px;
  text-align: right;
}
#SearchManageActDiv {
  text-align: center;
  margin-left: 20px;
}


#NewTaskType,
#NewEventType {
  /* margin-right:22px;
  font-size: 12px;
  border: 1px solid rgb(12, 2, 151);
  border-radius: 5px;
  height: 40px;
  width: 135px;
  margin-top: 20px;
  cursor: hand;
  cursor: pointer;
  color: rgb(10, 58, 80);
  text-shadow: 1px 1px rgb(163, 212, 240);
  font-weight: 700; */

  /* background-color: #768980; */

  color: black;
  background-clip: border-box;
  border: 1px solid transparent;

  border: 3px solid rgba(255,196,12,0.7);
  font-size: calc(2px + 2vmin);

  /* margin-right: 22px; */

  /* border-radius: 500px; */
  height: 60px;
  width: 150px;
  margin-top: 50px;
  cursor: hand;
  cursor: pointer;

  font-weight: 600;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#NewEventPlas:hover {
  /* border: solid 2px white; */
  cursor: hand;
  cursor: pointer;
}
#NewTaskPlas:hover {
  /* border: solid 2px white; */
  cursor: hand;
  cursor: pointer;
}
#NewTaskPlas {
  /* background-color: #89767F; */
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-right: 150px;
  margin-top: 20px;
}
#NewEventPlas {
  /* background-color: #768980; */
  height: 50px;
  width: 50px;
  border-radius: 30px;

  margin-top: 20px;
}

#imgIcon {
  display: table;
  margin: auto;
}
button.btnTasks {
  display: grid;
}
button.btnEvents {
  display: grid;
}
div#containerr {
  display: block;
}

div#DivBTN_MANNEGER_ACT {
  margin: 0;
  padding: 0;

  position: absolute;
}
#IDBTN_STRONG {
  width: 50%;
}
