.btnTasks {
  border-radius: 10px; 
  align-items: center;
  justify-content: center;
  height:120px;
  width: 120px;
  cursor: hand;
  cursor: pointer;
  background-color: rgb(89, 166, 218);
 float: right;
 color:black;
 background-clip: border-box;
 border: 1px solid transparent;
 /* border-radius: 100px; */
 border:3px solid rgb(89, 166, 218);
 font-size: calc(4px + 2vmin);
 margin-top: 100px;

display: flex;
column-count: 5;

margin: 20px;
 

}

.btnTasks:hover {
  
  color: white;
}

.btnEvents {
  align-items: center;
  justify-content: center;
  height:120px;
  width: 120px;
  cursor: hand;
  cursor: pointer;
  background-color:  rgb(45, 98, 177);
 float: right;
 color:black;
 background-clip: border-box;
 border: 1px solid transparent;
 border-radius: 10px; 
 border:3px solid  rgb(45, 98, 177);
 font-size: calc(4px + 2vmin);
 margin-top: 100px;
display: flex;
column-count: 6;
margin: 20px;
 
}

.btnEvents:hover {
 
  color: white;
}

.inManActDiv {
  text-align: -webkit-center;
}

#btnsManAct {
  text-align: -webkit-center;
  margin-left: 50px;
}
#btnTestaTsk {
  border-radius: 10px; 
 
  background-color: rgb(89, 166, 218);
 
 color:black;
 background-clip: border-box;
 border: 1px solid transparent;

 border:3px solid rgb(217, 235, 233);
 font-size: calc(4px + 2vmin);
 
  /* margin-right: 22px; */
  font-size: 30px;
 
  /* border-radius: 500px; */
  height: 200px;
  width:200px;
  margin-top: 50px;
  cursor: hand;
  cursor: pointer;
 

  font-weight: 700;


/* margin: 20px; */
 
  
}
#btnTestaTsk:hover {
  border-color: black;
  color: white;
}

#btnTestEvent:hover {
  border-color: black;
  color: white;
}
#btnTestEvent{
  background-color:  rgb(45, 98, 177);
  border-radius: 10px; 
 color:black;
 background-clip: border-box;
 border: 1px solid transparent;

 border:3px solid rgb(217, 235, 233);
 font-size: calc(4px + 2vmin);
 
  /* margin-right: 22px; */
  font-size: 30px;
 
  /* border-radius: 500px; */
  height: 200px;
  width:200px;
  margin-top: 50px;
  cursor: hand;
  cursor: pointer;
 

  font-weight: 700;
  


/* margin: 20px; */
}
.TasksEventsDiv {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#SearchManageAct{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  font-size: 15px;
  text-align: right;

  
}
#SearchManageActDiv{
  margin: auto;
  display: table;
 padding-left: 60px;
  
 
}


#NewEventType:hover {
  background-color: rgb(5, 15, 109);
  color: white;
}


#NewTaskType, #NewEventType{
  /* margin-right:22px;
  font-size: 12px;
  border: 1px solid rgb(12, 2, 151);
  border-radius: 5px;
  height: 40px;
  width: 135px;
  margin-top: 20px;
  cursor: hand;
  cursor: pointer;
  color: rgb(10, 58, 80);
  text-shadow: 1px 1px rgb(163, 212, 240);
  font-weight: 700; */

  
  background-color: rgb(89, 166, 218);
 
 color:black;
 background-clip: border-box;
 border: 1px solid transparent;

 border:3px solid rgb(217, 235, 233);
 font-size: calc(2px + 2vmin);
 
  /* margin-right: 22px; */
  
 
  /* border-radius: 500px; */
  height: 60px;
  width:150px;
  margin-top: 50px;
  cursor: hand;
  cursor: pointer;
 

  font-weight: 600;
      font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#NewEventPlas:hover {
 
  border:solid 2px white;
  cursor: hand;
  cursor: pointer;
}
#NewTaskPlas:hover{
  border:solid 2px white;
  cursor: hand;
  cursor: pointer;
}
#NewTaskPlas{
  background-color: rgb(89, 166, 218);
  height: 50px;
  width:50px;
  border-radius: 30px;
  margin-right: 150px;
    margin-top: 20px;
}
#NewEventPlas{
  background-color: rgb(45, 98, 177);
  height: 50px;
  width:50px;
  border-radius: 30px;
  
    margin-top: 20px;
}

#imgIcon{
  display: table;
  margin: auto;
  
}
button.btnTasks {
  display: grid;
  
}
button.btnEvents {
  display: grid;
}
div#containerr{
  display: block;
}




