#DivTatalHour{
    text-align: center;
}
#h1one {
    font-size: 30px;
    font-weight: bold;
}
#h1two{
margin-top: 50px;
font-weight: bold;
}
#h1three{
margin-bottom: 50px;
text-decoration-line: underline;
}
formTatal {
    width: 100%;
    display: block;
}
h2{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
#DivTatalHour > div:nth-child(5) > div > div:nth-child(2) > div > div > table > thead:nth-child(1){
    background-color: rgba(255,196,12,0.7);
}
#root > div > div > div:nth-child(3) > div > div > div:nth-child(2) > div > div > table > thead:nth-child(1){
    background-color: rgba(255,196,12,0.7);
}

#root > div > div > div:nth-child(4) > div > div > div:nth-child(2) > div > div > table > thead:nth-child(1){
    background-color: rgba(255,196,12,0.7);
}