#DivTatalHour{
    text-align: center;
}
#h1one {
    font-size: 30px;
    
}
#h1two{
margin-top: 50px;
}
#h1three{
margin-bottom: 50px;
}
formTatal {
    width: 100%;
    display: block;
}
h2{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}