.react-calendar{
    width: 700px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif, bold;
    line-height: 1.125em;
    direction: rtl;
    text-align: center;
    margin: auto;
    display: block;
  }
  #calendarDiv > div > div.react-calendar__navigation > button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{
    font-size: 29px;
  }
  #calendarDiv > div > div.react-calendar__navigation > button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
    font-size: 29px;
  }
  #calendarDiv > div > div.react-calendar__navigation > button.react-calendar__navigation__arrow.react-calendar__navigation__next-button{
    font-size: 29px; 
  }
  #calendarDiv > div > div.react-calendar__navigation > button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    font-size: 29px; 
  }
  #calendarDiv > div > div.react-calendar__viewContainer > div > div > div > div.react-calendar__month-view__days > button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
    font-size: 22px; 
  }
  .react-calendar__navigation__label{
      font-size: 25px;
  }
  #calendarDiv > div > div.react-calendar__viewContainer > div > div > div > div.react-calendar__month-view__days{
      font-size: 20px;
  }
  #calendarDiv > div > div.react-calendar__viewContainer > div > div > div > div.react-calendar__month-view__weekdays{
    font-size: 18px;
  }

  #calendarDiv{
      align-content: center;
  }
  #h1CalendarResults{
    text-align: center;
  }
  #ToggleDateToRange{
    font-size: 15px;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }



