.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonHome{
color: rgb(27, 33, 121);
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 100px;
  height: 220px;
  width: 220px;
  font-size: calc(20px + 2vmin);
 align-items:center;
 justify-content: center;
 margin-top: 100px;
 cursor: hand;
 cursor: pointer;
 
}


body {
	padding: 30px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
  margin: 0 auto;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[type="email"] .form-signin input[type="password"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
}
#btnSignIN{

background-color:rgb(61, 63, 182) ;
color: white;
width: inherit;
padding-right: 71px;
padding-left: 71px;
}
#customCheck1{
 margin-left: 10px;
}
label{
  text-align:right;
}
#inputUser{
  text-align:right;
}
.buttonHome:hover{
  background-color: rgb(22, 93, 121);
  color: white;
}
#LoginForm{
  width: 250px;
  text-align: center;
  display: block;
  margin: 0 auto ;
}
#leftBTN{
align-items: center;
}
.btnResDiv{
  text-align: center;
  margin: 0 auto ;
  position:relative;
  align-items: center;
}

.homeDiv{
  text-align: center;
  margin: 0 auto ;
  position:relative;
  align-items: center;
}
.form-control{
  text-align: right;
}



